body{
    margin: 0;
    padding: 0;
    /* background-color: blueviolet;
    /* background-image: url('image/ab.png');

    background-repeat: repeat-x;
    background-position: top right 50px; */ 
    background-image: url('image/ab.png');
    font-size: 40px;
    color: brown;
    p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 40px;
        font-weight: 600;
        font-style: italic;
        text-align: center;
        text-decoration: double;
        text-transform: uppercase;
        text-shadow: 3px opx 10px #000);
        display: inline;
       
    }
    img{
        float: left;
        margin-right: 20px;
        border: 10px solid #000;
    }

}